[build]
  publish = "public"
  command = "npm run build"
  functions = "netlify/functions"

[build.environment]
  YARN_VERSION = "1.3.2"
  YARN_FLAGS = "--no-ignore-optional"
  SHARP_IGNORE_GLOBAL_LIBVIPS = "1"
